[user]
	name = Bert Van Vreckem
	email = bert.vanvreckem@gmail.com
[push]
	default = simple
[github]
	user = bertvv
[credential]
	helper = cache --timeout=3600
[color]
  ui = true
[alias]
  co = checkout
  l = log --pretty='format:%C(yellow)%h %C(blue)%ad %C(reset)%s%C(red)%d %C(green)%an%C(reset), %C(cyan)%ar' --date=short --graph --all

[core]
	excludesfile = /home/bert/.gitignore_global
